<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>es</string>
		<string>ja</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<false />
	<key>NSAppleScriptEnabled</key>
	<true />
	<key>NSAppleEventsUsageDescription</key>
	<string>KeyJig sends Apple Events to Keynote to insert SVG content onto the current slide and to export the current slide as a PDF.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 KeyJig Contributors. Copyright © 2021–2026 Jonathan Lampérth.</string>
		<key>NSMainStoryboardFile</key>
		<string>Main</string>
	<key>NSSupportsAutomaticTermination</key>
	<true />
	<key>NSSupportsSuddenTermination</key>
	<true />
	<key>OSAScriptingDefinition</key>
	<string>KeyJig.sdef</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Scalable Vector Graphics</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.svg-image</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>svg</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Adobe Illustrator Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.illustrator.ai-image</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ai</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.illustrator.ai-image</string>
			<key>UTTypeDescription</key>
			<string>Adobe Illustrator Document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ai</string>
				</array>
				<key>public.mime-type</key>
				<string>application/postscript</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
